* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
/*===image styling===*/
img {
    max-width: 100%;
    display: block;
    width: 77.33px;
}

/*============
header styling
=============*/
.header-container{
    display: flex; 
    justify-content: space-between;
    width: 320px;
    height: 40px;
    margin: 0 auto;
 }
/*===Container styling===*/
.main-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    /*height: 700px;*/
    margin: 0 auto;
    background: rgb(247,253,252);
}
.content-wrapper {
    max-width: 1200px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
/*===================
first-section-styling
====================*/

.Individuals-section {
    max-width: 460px;
    margin: 0 auto;
}
.first-page {
    display: flex;
    margin-right: 120px;
    flex-direction: column;
    justify-content: center;
    margin-top: 205px;

    > h1 {
        color: hsla(174, 100%, 2%, 1);
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.8px;
        padding-top: 1em;
        margin-bottom: .45em;
    }

    > p {
        color: hsla(0, 0%, 45%, 1);
        font-family: Brown;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; 
    }
}

/*=============
form-styling
===============*/
.form-section {
    padding: 1em;
    max-width: 580px;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 100px;
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 4px 50px 0px hsla(222, 68%, 4%, 0.1);
}

.first-form,
.second-form,
.third-form {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.fourth-form{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.password-input,
.activity-input,
.activity-select,
label{
    width: 400px;
}

.desktop-ptag {
    color: #000;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
}
p {
    font-size: 1rem;
    font-weight: 400;
}

strong {
    color:  hsla(174, 62%, 47%, 1);
    text-decoration: underline;
}
form, label {
    color: hsla(208, 96%, 10%, 1);
    font-size: .75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}
input:focus {
    transition: 250ms;
    transform: scale(1.1);
}
input, select {
    display: block;
    width: 190px;
    margin-bottom: 1em;
    padding-left: 0.75em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    cursor: pointer;
    transform: scale(1);
    transition: 250ms;
    border-radius: 3px;
    border: 2px solid hsla(0, 0%, 94%, 1);
}
button:focus {
    cursor: pointer;
    transition: 250ms;
    transform: scale(1.1);
}
form button {
    width: 400px;
    border-radius: 6px;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 40px;
    border: none;
    color: #fff;
    transform: scale(1);
    transition: 250ms;
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.10));
    background-color: hsla(174, 62%, 47%, 1)
}

/*=================
Media-query-styling
==================*/
@media (min-width: 712px) {
    
    .starters-section {
        display: none;
    }

    header {
        display: none;
    }


    footer{
        display: none;
    }
}

/*==============
 Mobile-styling
 ===============*/
@media (max-width: 712px) {
    
    img {
        width: 38.667px;
        flex-shrink: 0;
    }
    .first-page h1{
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 700px;
        line-height: 50px; 
        letter-spacing: -0.8px;
    }
    input,
    select, 
    label{
        width: 295px;
        height: 40px;
    }
    
    form button {
        width: 295px;
    }
    footer {
        margin-bottom: 2em;
        > p {
            font-size: .75rem;
            width: 200px;
            margin: 0 auto;
        }
    }
    .desktop-ptag{
        display: none;
    }
    .password-input,
    .activity-input,
    .activity-select{
        width: 295px;
        height: 40px
    }
    .main-wrapper{
        max-width: 390px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .form-section {
        max-width: 327px;
        margin: 0 auto;
    }

    .Individuals-section {
        max-width: 327px;
        margin: 0 auto;
    }
    .first-p {
        display: none;
    }
    .second-p {
        max-width: 327px;
        font-size: 1rem;
        font-weight: 300px;
    }
    .first-form,
    .second-form,
    .third-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0.25em;
    }
    .content-wrapper {
        width: 375px;
        height: 1000px;
        margin: 0 auto;
        display: flex; 
        flex-direction: column;
    }
    .first-page {
      margin-top: 20px;
    }
}